<?xml version="1.0"?>
<!--***************************************************    
 * Title: UUV Simulator   
 * Author: The UUV Simulator Authors  
 * Date: 2016      
 * Availability: https://uuvsimulator.github.io/
*************************************************** -->
<robot name="eca_a9" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:arg name="debug" default="0"/>
  <xacro:arg name="namespace" default="eca_a9"/>
  <xacro:arg name="inertial_reference_frame" default="world"/>
  <!-- Include the UUV macro file -->
  <xacro:include filename="$(find description_und)/urdf/eca_a9_base.xacro"/>
  <!-- Create the eca_a9 -->
  <xacro:eca_a9_base 
    namespace="$(arg namespace)" 
    debug="$(arg debug)"
    inertial_reference_frame="$(arg inertial_reference_frame)"/>

  <!-- Joint state publisher plugin -->
  <xacro:default_joint_state_publisher namespace="$(arg namespace)" update_rate="50"/>

</robot>
